{% extends 'base.html' %}
{% load static %}

{% block content %}

<div>
    <div class="row">
        <h1>Rocks and Fossils</h1>
    </div>
</div>
<div class="triptych">
    <img src="{{ MEDIA_URL }}fossil1.jpg">
    <img src="{{ MEDIA_URL }}fossil2.jpg">
    <img src="{{ MEDIA_URL }}fossik2.jpg">
</div>

<!-- <div class="container">
    <div class="row flex">
        <div class="col-lg-4 col-sm-12">
            <div class="card welcome">
                <p>Welcome to my fossil and rock directory.
                    I've set this up to keep a record of my fossils and rocks so I know where and when I found them.
                    I will also be doing little blogs so I can share exciting geological / paleontological news.
                </p>
            </div>
        </div>
    </div>
    <div class="row flex">
        <div class="col-lg-4 col-sm-12">
            <div class="card extra">
                <p>Hopefully soon, it will be set up for other people to do the same!</p>
            </div>
        </div>
    </div>
</div> -->




{% endblock %}