* {
    margin: 0;
    padding: 0;
}

html, body{
    height: 100%;
}

body { 
    background: url('/static/media/ammonite.png') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow-x: hidden;
}

/* Navbar */

nav {
    background-color: #7099B2;
}

.nav-title {
    color: #424242;
    text-decoration: none;
    font-family: 'New Rocker', cursive;
}

.nav-title:hover {
    color: black;
}

.nav-link {
    color: #424242;
    text-decoration: none;
    font-family: 'New Rocker', cursive;
}

.nav-link:hover {
    color: black;
}

/* General Styles */

.image-holder{
    position: relative;
}

.border {
    border: black solid 10px;
    width: max-content;
    padding: 10px;
    background-color: #7099B2;
}

/* Form displays */
.auth-form {
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    margin-bottom: 25px;
    border-radius: 10px;
}

/* label {
    display: none;
} */

/* Non specific styling */

h1 {
    font-family: 'Bone', sans-serif;
    color: #424242;
    left: 20%;
    font-size: 10vh;
    position: absolute;
    margin-top: 10px;
}

h2 {
    font-family: 'Bone', sans-serif;
    color: #424242;
    font-size: 8vh;
    margin-top: 10px;
}

i {
    color: #424242;
}

a {
    text-decoration: none;
    color: #424242;
    font-family: 'Bone', sans-serif;
}

a:hover {
    color: black;
}

i {
    color: #424242;
}

/* Cards for displaying rocks and fossils*/

.flex {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    text-align: center;
}

.card-title{
    font-family: 'Bone', sans-serif;
}

.card-edit {
    width: 18rem;
    margin: 2rem;
    padding: 1rem;
    border: 2px #424242 solid;
    border-radius: 10%;
    background-color: #7099B2;
}

.card-img-top {
    min-height: 6rem; 
    min-width: 16rem;
    border: 1px solid black;
    text-align: center;
    border-radius: 5%;
}

.card-body {
    background-color: #687EA2;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
}

.card-info {
    background-color: #DDFBF6;
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;
}

/* rock info display page */

.categories{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    
}

.sub-heading{
    font-family: 'Bone';
    font-weight: 800;
    font-size: 3vh;
    color: #424242;
}

.info {
    font-family: 'New Rocker', cursive;
    font-size: 3vh;
    color: #424242;
}

.mm {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1vh;
    color: #424242;
}

.rock-image {
    border: #424242 2px solid;
    border-radius: 10px;
    margin: 10px;
}

.img-info {
    border-radius: 10px;
    max-width: 30vw;
}

.rock-info {
    background-color: #DDFBF6;
    padding: 1rem;
    margin-top: 10px;
    border-radius: 10px;
    border: 1px #424242 solid;
}

/* home page */

.welcome {
    background-color: yellow;
    width: 18rem;
    margin: 2rem;
    padding: 1rem;
    border: 2px #424242 solid;
    border-radius: 10%;
}

.extra {
    background-color: pink;
    width: 18rem;
    margin: 2rem;
    padding: 1rem;
    border: 2px #424242 solid;
    border-radius: 10%;
}

/* Adding forms */

.add-form{
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    padding: 10px;
}
