html {
    height: 100%;
    background-color: #F6F5F7
}

/* Navbar */

nav {
    background-color: #7099B2;
}

.nav-title {
    color: #424242;
    text-decoration: none;
    font-family: 'New Rocker', cursive;
}

.nav-title:hover {
    color: black;
}

.nav-link {
    color: #424242;
    text-decoration: none;
    font-family: 'New Rocker', cursive;
}

.nav-link:hover {
    color: black;
}

/* General Styles */

.image-holder{
    position: relative;
}

.hero-image{
    width: 100%;
    opacity: 0.4;
}

h1 {
    font-family: 'Rubik Moonrocks', cursive;
    color: #424242;
    left: 20%;
    font-size: 10vh;
    position: absolute;
}