{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col">
            <h2 class="my-3">Edit Rock / Fossil</h2>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <!--Form to edit rock / fossil-->
            <form method="POST" class="add-form">
                {% csrf_token %}

                {{ rock_form | crispy}}
                    <div>
                        <a class="btn btn-secondary" href="/">Cancel</a>
                        <button class="btn btn-secondary" type="submit">Save</button>
                    </div>
                </form>
        </div>
    </div>
</div>

{% endblock %}