{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container">

    <h2>{{rock.title}}</h2>

    <img>{{rock.image.url}}

    {% if rock.finished_image %}

    <img>{{rock.finished_image}}

    {% endif %}
    <div class="categories"> 
        <p class="mr-2">Found by: </p>
        <p> {{rock.owner}}</p>
    </div>

    <div class="categories">
        <p class="mr-2">Information: </p>
        <p>{{rock.extra_info}}</p>
    </div>
    
    <div class="categories">
        <p class="mr-2">Found: </p>
        <p>{{rock.location}}</p>
    </div>

    <div class="categories">
        <p class="mr-2">Material: </p>
        <p>{{ rock.material }}</p>
    </div>

    <div class="categories">
        <p class="mr-2">Size(in mm): </p>
        <p>{{rock.size}}</p>
    </div>

    <div class="categories">
        <p class="mr-2">Era: </p>
        <p>{{rock.era}}</p>
    </div>

    <div class="categories">
        <p class="mr-2">Tools Used: </p>
        <p>{{rock.tools_used}}</p>
    </div>

    <div class="categories">
        <p class="mr-2">Date Found: </p>
        <p>{{rock.date_found}}</p>
    </div>

    <div class="categories">
        <p class="mr-2">Prepped?: </p>
        <p>{{rock.prepped_self}}</p>
    </div>
    

</div>




{% endblock %}