{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container flex">
    {% for rock in rocks %}
    <div class="card card-edit">
        <img class="card-img-top" src="{{ rock.image.url }}" alt="{{ rock.title }}">
        <div class="card-body">
            <h5 class="card-title">{{ rock.title }}</h5>
            <p class="card-text">
                {{ rock.owner }}
            </p>
        </div>
        <ul class="list-group list-group-flush ">
            <li class="list-group-item card-info">{{ rock.location }}</li>
            <li class="list-group-item card-info">{{ rock.extra_info }}</li>
        </ul>
        <a class="text-right pt2" href="{% url 'rock_info' rock.id %}">
            More info...
        </a>
    </div>
    
    {% endfor %}
</div>
</div>

{% endblock %}