{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="flex">
    {% for rock in rocks %}
    <div class="card card-edit">
        <div class="card-img-top">
            <img src="{{ rock.image.url }}" alt="{{ rock.title }}">
        </div>
        
        <div class="card-body">
            <h5 class="card-title">{{ rock.title }}</h5>
            <p class="card-text">
                {{ rock.owner }}
            </p>
        </div>
        <ul class="list-group list-group-flush ">
            {% if rock.location %}
            <li class="list-group-item card-info">Location Found: {{ rock.location }}</li>
            {% else %}
            <li class="list-group-item card-info">Location Found: unknown</li>
            {% endif %}
            {% if rock.date_found %}
            <li class="list-group-item card-info">Date Found: {{ rock.date_found }}</li>
            {% else %}
            <li class="list-group-item card-info">No Idea When This Was Found!</li>
            {% endif %}
        </ul>
        <a class="text-right pt2" href="{% url 'rock_info' rock.id %}">
            More info...
        </a>
    </div>
    
    {% endfor %}
</div>
</div>

{% endblock %}