{% extends 'base.html' %}

{% load static %}

{% block content %}


<div class="container">
    <div class="row">
        <div class="col">
            <h2>Add Post</h2>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <!--Form to add post-->
            <form method="POST" class="add-form" enctype="multipart/form-data">
                {% csrf_token %}

                {{ post_form | crispy}}
                    <div>
                        <a class="btn btn-secondary btn-sm my-2 mx-1" href="/">Cancel</a>
                        <button class="btn btn-secondary btn-sm my-2 mx-1" type="submit">Add Post</button>
                    </div>
                </form>
        </div>
    </div>
</div>

{% endblock %}