{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- <div class="hero-image">
    <img src="{% static 'media/ammonite.png' %}" alt="ammonite" class="hero-image">
</div> -->
<div class="flex">
    {% for post in posts %}
    <div class="card card-edit">
        <img class="card-img-top" src="{{ post.image.url }}" alt="{{ post.title }}">
        <div class="card-body">
            <h5 class="card-title">{{ post.title }}</h5>
            <p class="card-text">
                {{ post.owner }}
            </p>
        </div>
        <ul class="list-group list-group-flush ">
            <li class="list-group-item card-info">{{ post.created_at }}</li>
            <a class="text-right pt2" href="{% url 'post_info' post.id %}">
                More info...
            </a>
            <!-- {% if post.updated_at  %}
            <li class="list-group-item card-info">Hello</li> -->
            <!-- {% else %}
            <li class="list-group-item card-info">{{ post.updated_at }}</li> -->
            <!-- {% endif %} -->
        </ul>
        
    </div>
    {% endfor %}
</div>
</div>

{% endblock %}